<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h5>Add a product to the list</h5>
    <% if(error) { %>
      <p class="error">Error: <%= error %></p>
    <% } %>
    <form class="" action="/products/add" method="post">
      <!-- I need to find a way to check if the id already exists and to throw an error -->
      <label for="item_id" class="inputID">ID: </label>
      <input type="number" name="item_id" required/>
      <br>
      <label for="item_name">Name: </label>
      <input type="text" name="item_name" required/>
      <br>
      <label for="item_category">Category: </label>
      <input type="text" name="item_category" required/>
      <br>
      <label for="item_stock">Available stock: </label>
      <input type="number" name="item_stock" required/>
      <br>
      <label for="item_description">Description: </label>
      <input type="text" name="item_description" required/>
      <br>
      <label for="item_price">Price per unit: </label>
      <input type="number" step="0.01" name="item_price" required/>
      <br>
      <button type="submit" name="button">Submit</button>
    </form>
    <br>
    <% for( var i = 0; i < products.length; i++ ) { %>
      <br>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>stock</th>
          <th>Descripotion</th>
          <th>Price</th>
        </tr>
        <tr>
          <td><%= products[i].itemID %></td>
          <td><%= products[i].itemName %></td>
          <td><%= products[i].category %></td>
          <td><%= products[i].stock %></td>
          <td><%= products[i].itemDescription %></td>
          <td><%= products[i].price %></td>
        </tr>
      </table>
      <form method="post" action="/products/delete">
        <input type="hidden" value="<%= products[i].itemID  %> " name="prduct_id">
        <button type="submit">Delete</button>
      </form>
      <form action="/products/update" method="get">
        <input type="hidden" value="<%= products[i].itemID  %> " name="product_id">
        <button type="submit">Update</button>

      </form>
    <% } %>

    
  </body>
</html>
