<!DOCTYPE html>
<htmhtml lang="en"l>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h5>Add a Service to the list</h5>
    <% if(error) { %>
      <p class="error">Error: <%= error %></p>
    <% } %>
    <form class="" action="/services/add" method="post">
      <!-- I need to find a way to check if the id already exists and to throw an error -->
      <label for="serviceID" class="inputID">ID: </label>
      <input type="number" name="serviceID"/>
      <br>
      <label for="serviceName">Name: </label>
      <input type="text" name="serviceName" required/>
      <br>
      <label for="customerName">Customer name: </label>
      <input type="text" name="customerName" required/>
      <br>
      <label for="productID">Related product: </label>
      <input type="number" name="productID" required/>
      <br>
      <label for="serviceDescription">Description: </label>
      <input type="text" name="serviceDescription" required/>
      <br>
      <button type="submit" name="button">Submit</button>
    </form>
    <br>
    <% for( var i = 0; i < services.length; i++ ) { %>
      <br>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Customer Name</th>
          <th>Product related</th>
          <th>Descripotion</th>
        </tr>
        <tr>
          <td><%= services[i].serviceID %></td>
          <td><%= services[i].serviceName %></td>
          <td><%= services[i].customerName %></td>
          <td><%= services[i].productID %></td>
          <td><%= services[i].serviceDescription %></td>
        </tr>
      </table>
      <form method="post" action="/services/delete">
        <input type="hidden" value="<%= services[i].serviceID  %> " name="serviceID">
        <button type="submit">Delete</button>
      </form>
      <form action="/services/update" method="get">
        <input type="hidden" value="<%= services[i].serviceID  %> " name="serviceID">
        <button type="submit">Update</button>

      </form>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
